modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["psmisc", "lsof"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34971
externalPort = 3000

[[ports]]
localPort = 36289
externalPort = 3001

[[ports]]
localPort = 44165
externalPort = 3002
