modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 34367
externalPort = 3000

[[ports]]
localPort = 35527
externalPort = 4200

[[ports]]
localPort = 36483
externalPort = 5173

[[ports]]
localPort = 39025
externalPort = 3001

[[ports]]
localPort = 42181
externalPort = 3003

[[ports]]
localPort = 45593
externalPort = 3002

[[ports]]
localPort = 45765
externalPort = 80

[[ports]]
localPort = 46619
externalPort = 5000
