modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["psmisc", "lsof"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32919
externalPort = 3000

[[ports]]
localPort = 37693
externalPort = 3001

[[ports]]
localPort = 40449
externalPort = 3002

[[ports]]
localPort = 42373
externalPort = 3003
